<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li class="fade">
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article"%>

<br />
<p>
  <%= link_to "View All Tags", tags_path %>
</p>
